<div class="jumbotron">
  <h1>Hello World!</h1>
  <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>

  <form role="form" method= "POST" action = "/hola" >
    <div class="form-group">
      <label for="exampleInputName1">Write down your name</label>
      <input type="text" class="form-control" id="user_name" placeholder="Enter your name" name="name">
    </div>
    <button type="submit" class="btn btn-danger">Submit</button>
  </form>
</div>
