











  <form role="form" method= "POST" action = "/imdb" >
    <div class="form-group">
      <label for="exampleInputName1">Write down the film you want listed</label>
      <input type="text" class="form-control" id="query" placeholder="Enter your query" name="query">
    </div>
    <button type="submit" class="btn btn-danger">Search</button>
  </form>
