<div>
  <h1>Which one of this movies is from <%= search.release_years.sample %>?</h1>
  <ul>
    <% search.movies.each do |film| %>
      <li><img src="<%= film.poster_url %>" /></li>
    <% end %>
  </ul>
</div>
